<h1 class="text-center mb-3">Secure Online Payments</h1>
<p class="text-center">If you have received an Invoice from Central Agencies or Broker Canada, you can pay easily online
  with your credit card.</p>
<h3 class="mb-3 mt-5">Choose Your Insurance Company</h3>
<div class="card-deck">
  <div class="card">
    <img src="/images/central-agency.png" class="card-img-top" alt="Central Agencies">
    <div class="card-body">
      <h5 class="card-title"><a href="/payments/central-agency" class="stretched-link" style="text-decoration: none;">Central Agencies LTD.</a></h5>
    </div>
  </div>
  <div class="card">
    <img src="/images/broker-canada.png" class="card-img-top" alt="Broker Canada">
    <div class="card-body">
      <h5 class="card-title"><a href="/payments/broker-canada" class="stretched-link" style="text-decoration: none;">Broker Canada</a></h5>
    </div>
  </div>
</div>